<div class="row mb-3">
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="sumaNumero()">+</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="restaNumero()">-</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="potenciaNumero()">^</button>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="multiplicacionNumero()">x</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="divisionNumero()">÷</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary w-100" (click)="limpiarNumero()">CE</button>
    </div>
</div>






